@(title: String)(content: Html)

<!DOCTYPE html>

<html>
    <head>
        <title>@title</title>
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/bootstrap.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
    </head>
    <body>
    	<div class="container">
    	<h1>Welcome. Play 2.0 World.</h1>
    	<h5>@title</h5>
    	@if(flash.get("success")) {
		<div class="alert-success"><strong>Well done!</strong>@flash.get("success")</div>
		}
		@if(flash.get("info")) {
			<div class="alert-info"><strong>Heads up!</strong>@flash.get("info")</div>
		}
	    @content
        </div>
    </body>
</html>
